@import "common/var";

body,html,ul,li,h5{
  padding: 0;
  margin: 0;
}
ul,li{
  list-style: none;
}
.relative{
  position: relative;
}
.body-wrap{
  display: flex;
  flex-direction: column;
  height: 100%;
  .header-wrap{
    flex: 0 0 70px;
  }
  .main-wrap{
    flex:1;
  }
  .content-wrap{
    margin: 0 10px;
  }
}
.tabs-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
}
.iframe{
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  height: calc(100vh - 128px);
}
.header{
  height: 70px;
  background-color: #1d2531;
  display: flex;
  position: relative;
  align-items: center;
  .drop-down{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0,-50%);
    .user-info{
      color: #fff;
      font-size: 13px;
      .user-header{
        margin-left: 10px;
        width: 40px;
      }
    }
  }
}